* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;

}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 500;

}

h3 {
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    font-style: italic;
    padding-top: 20px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 13px;
    line-height: 1.8;
    padding-top: 15px;
}

.presentacion {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(334px, 1fr) );

}

.infopersonal h4{
    padding-top: 12%;
}

.separador{
    margin: 8px 0 0 0;
    width: 50px;
    border: 2px solid black;

}

.cvimagen img {
    width: 100%;
}

.infopersonal {
    padding: 80px 50px 50px 43px;
}


.infopersonal--bars {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 8fr;
    background-color: hsl(240deg 7% 97% / 64%);
    padding: 44px 33px 37px 11px;
    width: 100%;
    margin: 0 auto;
    align-items: start;
    justify-items: stretch;
}

.infopersonal2 {
    display: flex;
    align-items: flex-start;
    background-color: hsl(240deg 7% 97% / 64%);
    padding: 44px 33px 37px 36px;
}

.infopersonal2 h4,
.infopersonal--bars h4 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

hr {
    margin: 0 4px 0 4px;
    border: 2px solid black;
}



.infopersonal2 p {
    padding-left: 15px;
    padding-top: 0;
}

.progress--bars {
    padding-left: 20px;
}

.progress {
    background: rgb(223, 223, 223);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 20px;
    width: 85%;
    margin-bottom: 12px;
}

.progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(63, 63, 63);
    height: 22px;
}

.progress-value2 {
    animation: load2 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(63, 63, 63);
    height: 22px;
}

.progress-value3 {
    animation: load3 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(63, 63, 63);
    height: 22px;
}

.progress span {
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 11px;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}






/******************************portfolio****************************/
.portfolio {
    max-width: 1000px;
    padding-bottom: 5%;
}


.toggles {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    gap: 30px;

}

.post>img {
    object-fit: cover;
    width: 100%;
    height: 220px;
}



.footer {
    width: 100%;
    background-color: rgba(155, 155, 155, 0.233) ;
    height: 80%;
}

.footer p {
    color: rgb(163, 163, 163);
    padding: 1%;
}

.textos h4{
    padding: 10px 0 0 0;
}

.toggles p {
    border: 0.12rem solid rgb(58, 58, 58);
    padding: 2px 20px 2px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.toggles p:hover {
    background-color: rgb(194, 194, 194);
    cursor: pointer;
    transition: .5s ease;
    
}

@media (max-width: 624px) {

.titulo {
    /* flex: 2 0 127px; */
    width: 100%;
    padding: 2rem 0 0 2rem;
}

.textos h4{
    padding: 1rem 0 0 1rem;
}

body {
    padding-top: 0;
}

.infopersonal {
    padding: 50px 50px 0 43px;
}
.presentacion {
    display: grid;
    grid-template-rows: 27% 40% auto;
}

.cvimagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}


